config XIA_PPAL_HID
	tristate "Host Principal (EXPERIMENTAL)"
	default m
	help
	  Host (HID) Principal is essential to route in XIA.
	  If you have added XIA, you likely want to add this principal
	  as well.
	  If you are unsure how to answer this question, answer M.
